<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<properties resource="jdbc.properties"/>-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--给resultType起别名;  别名不区分大小写
            nameSpace不能起别名
            -->
        <!--<typeAlias type="com.wqcode.mybatis.pojo.Student" alias="aaa"/>-->
        <!--省略alias   默认是类的简名：Log -->
        <typeAlias type="com.wqcode.mybatis.param.pojo.Student"/>


        <!--将这个包下的所有类全部自动起别名，别名就是类的简名，不区分大小写-->
        <package name="com.wqcode.mybatis.param.pojo"/>
    </typeAliases>
    <environments default="powernodeDB">
        <environment id="powernodeDB">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/bjpowernode"/>
                <property name="username" value="root"/>
                <property name="password" value="WQ157963wq"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--指定CarMapper.xml文件的路径，默认从根路径下查找-->
        <package name="com.wqcode.mybatis.param.mapper"/>


    </mappers>
</configuration>