<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com/wqcode/bank/dao/AccountDao.java">
    <!--id是这条SQL语句的唯一标识-->

    <select id="selectByActno" resultType="com.wqcode.bank.pojo.Account">
        select * from t_act where actno = #{actno};
    </select>

    <update id="updateByActno" >
        update t_act set balance = #{balance} where actno = #{actno};
    </update>

</mapper>